<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
<section id="intro" data-speed="6" data-type="background">
    <div class="container">
      <div class="row-fluid">
            <div class="span4 text-center">
              <img src="images/desktop.png">
            </div>
            <div class="span8 text-center">
              <img src="../title.png">
            </div>
        </div>
        <div class="hero-unit">
          <h2>This page demonstrates parallax within Twitter Bootstrap.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  </section>
<!-- Section #2 -->
  <section id="home" data-speed="6" data-type="background">
    <div class="container">
      <div class="row-fluid">
            <div class="span4 well">
              <h2>What Is The Problem?</h2>
              <p>We live in a busy world. For people that have demanding schedules, free time is precious. And yet, so much of our free time goes wasted. When we find ourselves without plans or even with unexpected free time (from a cancelled meeting, waiting for repairs, or the rare time that the baby is asleep) there is no way to quickly and easily see who else is available right now. So we wait, and we waste. Facebook, twitter, text messaging, find friends and all other ways of mobile communication fail to let you connect with your friends without spamming them, or even worse, not hearing back. </p>
              <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
            </div><!-- /.span4 -->
            <div class="span4 well">
              <h2>What is Our Solution?</h2>
              <p>When you find yourself without plans or with unexpected free time, LinkUp is an app that allows you to quickly and easily see if a set of your friends is available to hang out right now. LinkUp allows you to send out an instant, spontaneous notification that you are available to a set of friends. LinkUp then lets you know who's available and where they are so you can call or text and make plans. </p>
              <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
            </div><!-- /.span4 -->
            <div class="span4 well">
              <h2>Why Us?</h2>
              <p>We are a very focused team and we already know exactly what we want; this is not some vague idea.  We won first place at startup weekend several weeks ago.  Our prizes from that are services that will help with marketing and business development, but we still need help developing the actual app!  We have tested the user experience with dozens of strangers using a Flinto prototype that has all of the elements we need, screen by screen, and we've validated that there is plenty of demand for an app like LinkUp. We've also analyzed our competition and have a good idea about what makes LinkUp different from anything out there today.</p>
              <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
            </div><!-- /.span4 -->
        </div>
      </div>
</section>
<section id="about" data-speed="6" data-type="background">          
        <h4>Get in touch!</h4>

        <%= simple_form_for(@visitor, html: {class: 'form-horizontal' }) do |f| %>

            <%= f.error_notification %>
            <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
            <br/>
            <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
          <% end %>
          </form>
            </div><!-- /.span4 -->
        </div>
      </div>
  </section>
