<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>

<!-- ######################## Header ######################## -->
        
<div id="headerwrap" id="home" name="home">
  <header class="clearfix">
    <h1><span class="icon icon-shield"></span></h1>
      <p>Events In Your Life Sometimes Happen Spontaneously.</p>
      <p>So Should You.</p>
  </header>     
</div><!-- /headerwrap -->

    
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">WE ARE CHANGING HOW YOU DEAL WITH THE UNEXPECTED FREE...</h1>
        <hr>
        
        <div class="col-lg-6">
          <p>Through our day to day lives we get caught up in the hustle and bustle of the world. With school, work, sports, kids, and everything else life throws at us, we get pressed for the activities that we truely enjoy. spontaneity has lost its wonder as it was when we were younger and we live like robots on auto-pilot living the same mundane routines day in and day out. Though life does give us our glimpse's of unplanned downtime, we're often stuck trying to quickly form a plan on what to do and who to see. We spring to type our group messages, but waste time going through our contacts one by one searching for the right group of people we want to see our messages. </p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-6">
          <p>This is our solution, a single place to form your groups, and to save them as queries so when life gives you the unexpected curve ball, you are prepared to greet it with the bat of your greatness, and effeciently plan to do what your inner youth truely wants to. With todays technology you should be more inclined to be personable, getting out with your friends should be simple, and with the current methods of messaging and group forming, it doesn't complete the task. </p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
    
    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1>SIMPLE, SWEET, AND HARD TO BEAT.</h1>
        <hr>
        <p>Messaging your friends to hang out should be quick, and efficient. who wants to be bugged by group messaging if they can't be a part of the fun? </p>
      </div><!-- container -->
    </section><!-- section -->
    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
      <br>
      <br>
      <div class="row">
        <h2 class="centered">YOUR GROUPS, ONE APP, MANY MEMORIES</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>When your are out and about, you develop several different groups of friends. You may be at a party, or a concert, or at work. All these places hav a different group that you associate with, so why not group them together in one place? With LinkUp you can, and that's beautiful. you can organize your groups based off of the things you share in common with each member so you can later come back to that group and invite them out when you want to share memories with them.</p>
          <p></p>
          <p></p>
        </div><!-- col-lg -->
      </div><!-- row -->
      
      <div class="row">
        <h2 class="centered"><!-- MOBILE FIRST THINKING, ALWAYS. --></h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <img class="img-responsive" src="assets/img/iphone.png" alt="">
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
      

    <!-- ==== SECTION DIVIDER2 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h1>MAGICAL DISAPPEARING ACT</h1>
        <hr>
        <p>Timing is everything when you live the busy life, and it's key to catch the opportunities when they happen. But one of the worst things to see is when you miss those opportunities.</p>
      </div><!-- container -->
    </section><!-- section -->


    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 centered">
            <img class="img-responsive" src="assets/img/macbook.png" align="">
          </div>
          <div class="col-lg-4">
            <h2>Quaries that expire</h2>
            <p>Our message quaries expire after designated time periods. This means that when you are busy, you won't be inturupted continuously of your friends that are out having fun. This also means that you wouldn't be requested by your fellows that were unfortunate enough to miss your request to see them, therefore no party gets hurt feelings.</p>
          </div>          
        </div><!-- row -->
      </div>
      <br>
      <br>
    </div><!-- greywrap -->
    
   
    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider4">
      <div class="container">
        <h1>WE'VE CREATED THE NEW WAY OF MAKING THINGS HAPPEN</h1>
        <hr>
        <p>Now there's an easy and efficient way to bring together the people that you want when you want them. Eliminating group messages and bringing them into group orientation the LinkUp app allows you to add your contacts and seperate them into specific groups of your choosing, so you can find them easier later on. </p>
      </div><!-- container -->
    </section><!-- section -->
    
    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
      <br>
      <div class="row white centered">
        <h1 class="centered">MEET OUR AWESOME TEAM</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="assets/img/team/team01.jpg" height="120px" width="120px" alt="">
          <br>
          <h4><b>Blake Azuela</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>Some epic description of blake should go here making it a funny, yet some-what serious description of the main inspiration of this wonderful idea.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="assets/img/team/team02.jpg" height="120px" width="120px" alt="">
          <br>
          <h4><b>Josh Garcia</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>Joshie Poo also deserves a very epic description of himself because he can throw together one mean business plan, plus he has a cuteness even your momma would appreciate.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="assets/img/team/team03.jpg" height="120px" width="120px" alt="">
          <br>
          <h4><b>Alex Lucero</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>tAlex is just the youngun of the bunch, a sensible guy with the seriousness of Bugs Bunny. Watch out for this guy when its rabbit season.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="assets/img/team/team04.jpg" height="120px" width="120px" alt="">
          <br>
          <h4><b>JNick Williams</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>Nick's the brains of the operations, he also supports the ceiling with the top of his head. As a lead programmer he should have the most nerdy and serious description that doesnt really describe him very well at all, just to throw people off.</p>
        </div><!-- col-lg-3 -->        
      </div><!-- row -->
    </div><!-- container -->

    
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>Handmade in Albuquerque, New Mexico</h1>
        <hr>
        <p>Some Address 987,</p>
        <p>Our contact number</p>
        <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
      </div><!-- container -->
    </section><!-- section -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
          <p><span class="icon icon-home"></span> Some Address 987, NM<br/>
            <span class="icon icon-phone"></span> +34 9884 4893 <br/>
            <span class="icon icon-mobile"></span> +34 59855 9853 <br/>
            <span class="icon icon-envelop"></span> <a href="#"> Linkupabq@gmail.com</a> <br/>
            <span class="icon icon-twitter"></span> <a href="#"> @LinkUp </a> <br/>
            <span class="icon icon-facebook"></span> <a href="#"> LinkUp </a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Newsletter</h3>
          <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="text1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
             </form><!-- form -->
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Support Us</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->

    <div id="footerwrap">
      <div class="container">
        <h4>Created by LinkUp - Copyright 2014</h4>
      </div>
    </div>


