<% content_for :title do %>Foobar Kadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>

<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <img src="/assets/Untitled.jpg" />
    </div>
    <hr />
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <img src="/assets/Fan.jpg" />
    <h4>Residential</h4>
      <p></p>
  </div>
    
  <div class="large-4 columns">
    <img src="/assets/services.jpg" />
    <h4>Commercial</h4>
      <p></p>
  </div>
    
  <div class="large-4 columns">
    <img src="/assets/Patio.jpg" />
    <h4>Custom</h4>
      <p>.</p>
  </div>
</div>
<div class="panel">
  <div class="row">
    <h3>Quality you can trust!</h3>
    <p>As a family owned and operated electrical service company, Affordable Electrical Service makes it our job to keep in touch with home owner's guidelines and the city's building codes. When you hire our team, you'll be dealing with a company that's fully licensed and insured, so you'll be safe from any type of financial liability. We understand that you're interested in saving money, and we take pride in our ability to reduce your expenses by keeping our trucks fully stocked with the materials and supplies your job requires.</p>
    <p>If you've encountered an emergency, we're ready with a quick response, and we can usually complete repairs the same day that you call. We're also committed to high-quality workmanship, and we insist on using premium materials that are designed to last for years. When you hire our team, you'll be dealing with an electrical contractor that can easily handle your needs.</p>
  </div>
</div>

<section>
  <!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">   
      <div class="panel">
        <h4>Get in touch!</h4>
        <div class="row">
          <div class="large-9 columns">
          <%= simple_form_for @visitor do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
            <br/>
            <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
          <% end %>
        </div>
      </div>      
    </div>
  </div>
</section>
