<% content_for :title do %>About<% end %>
 
 
 
    <!-- Content -->
 
<div class="row">
	<div class="large-12 columns">
		<div class="row">
        	<div class="large-8 columns">
          		<div class="panel radius">
 
          			<div class="row">
          				<div class="large-6 small-6 columns">
          					<h4>Header</h4><hr/>
            				<img src="http://placehold.it/250x250&text=Thumbnail" />
        					<h6 class="panel">Description</h6>
 
          				<div class="show-for-small" align="center">
            				<a href="#" class="small radius button">Call To Action!</a><br>
 
            				<a href="#" class="small radius button">Call To Action!</a>
          				</div>
 
          			</div>
          			<div class="large-6 small-6 columns">
 						<h3>About Us</h3>
							<p>	The technicians at Affordable Electrical Service in Northglenn, CO are the local experts in commercial electrical wiring. We have the specialized skills to install and maintain commercial electrical systems of every size and scope. Reliability, safety, and efficiency are our highest priorities. We use the very latest technology and highest-quality materials to ensure that your project is equipped with an electrical system you can trust. Whatever the task may be, we’ll handle it with total professionalism, skill, and attention to detail. Trust your wiring to a knowledgeable, dedicated team. Call Affordable Electrical Service in Northglenn, CO to request an estimate.</p>
						</div>
					</div>
        		</div>
        	</div>
 
         	 <div class="large-4 columns hide-for-small">
 
          		<h4>Get In Touch!</h4><hr/>
          		<a class="large button expand" href="#">
            Call To Action!
          </a>
 
          <a class="large button expand" href="#">
            Call To Action!
          </a>
 
 
        </div>
 
    <!-- End Content -->
 
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens" />
      </div>
    </div>
  </div>
</div><br>
    <!-- End Mobile Header -->
 
    <!-- Thumbnails -->
  
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 small-6 columns">
        <img src="../assets/Gabe.jpg" />
        <div class="panel">
        	<h4>Gabriel Tapia</h4>
        	<p>He is a certified electrician</p>
        </div>
      </div>
 
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel"></h6>
      </div>
 
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>
 
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>
    </div>
  </div>
</div>

