  <div class="row">
 
    <div class="large-3 columns">
           <div class="panel">
        <p>
          <img src="/assets/Electrician.jpg" />
        </p>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="panel">
        <h5>Comercial</h5>
        <p>Need a reliable and skilled electrician for your business or commercial structure? You've come to the right place. As an established electrical contractor serving local companies and facilities, Affordable Electrical Service is equipped to offer an extensive array of electrical services. From new wiring to emergency repairs, we are ready to serve all of your company's electrical needs. The success and stability of your business depends on the safety and reliability of the electrical system in your commercial facility. We work closely with business owners in Denver and surrounding areas to create cost-effective commercial electrical systems that promote maximum productivity and energy efficiency.</p>
      </div>
    </div>
  </div>
 
 
 
  <div class="row">
 
    <div class="large-9 columns">
      <div class="panel">
        <h5>Residential</h5>
        <p>As a homeowner, it's important to make sure that your property's wiring is up to date and properly installed. So if you need a reliable contractor to inspect or install your home's electrical wiring. Are you having electrical issues at home? Perhaps your system keeps getting overloaded; or maybe you're seeing higher bills out of nowhere. No matter the issue, worry not: Our team is up to the challenge and at your service. At Affordable Electrical Service, we offer comprehensive home electrical repair services designed to get your electrical systems up and running again.</p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <p>
          <img src="/assets/Kitchen_1.jpg" />
        </p>
      </div>
    </div> 
  </div>
 
 <div class="row">
 
    <div class="large-3 columns">
           <div class="panel">
        <p>
          <img src="/assets/Theater.jpg" />
        </p>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="panel">
        <h5>Custom</h5>
        <p>whether it's a new adition to your house, wiring lights around your fancy pool, or creating the best home theater for you and your family to enjoy, our techs will work with you to develop the best possible way to make your dream creation a reality.</p>
      </div>
    </div>
  </div>
  <div class="row">
 
    <div class="large-12 column">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
  </div>
  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
  </div>  
<!-- End Grid Section -->
