// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }




//parallax 
#intro {
    background: asset-data-url("flickr-613445810-hd.jpg") no-repeat center center fixed;
    height: auto; 
    margin: 0 auto;
    width: cover;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#home {
    background: url(http://www.bajavoodoo.com/yahoo_site_admin/assets/images/OFRCV_1107.92151526_std.png) no-repeat center center fixed;
    height: auto; 
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#about {
    background: url(http://www.russen.no/buss/wp-content/uploads/2011/09/bomb-diggity.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}